<div class="row widget-image-show">
  <div class="col-md-12 widget-image-show-image">
    <% if (widget.has('image_url_thumb')) { %>
      <% if (familySize == 1) { %>
        <img src="<%= widget.escape('image_url_big') %>">
      <% } else if (familySize == 2) { %>
        <img src="<%= widget.escape('image_url_med') %>">
      <% } else if (familySize == 3) { %>
        <img src="<%= widget.escape('image_url_small') %>">
      <% } else if (familySize == 4) { %>
        <img src="<%= widget.escape('image_url_smallest') %>">
      <% } %>
    <% } %>
  </div>
</div>

<div class="row widget-image-show">
  <div class="col-md-12">
    <% if (widget.has('title') && !widget.get('hide_title')) { %>
      <h3><%= widget.escape('title') %></h3>
    <% } %>
  </div>
</div>

<div class="row widget-image-show">
  <div class="col-md-12">
    <% if (widget.has('date') && !widget.get('hide_date')) { %>
      <h4><%= widget.escape('date') %></h3>
    <% } %>
  </div>
</div>
