<div class="row">
  <div class="col-md-12 image-widget-image">
    <% if (widget.has('image_url_smallest')) { %>
      <img src="<%= widget.escape('image_url_smallest') %>">
    <% } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 image-widget-file-input">
    <input type="file"><br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="input-group image-widget-title-container">
      <input type="text"
             class="image-widget-title form-control"
             id="iw_title"
             placeholder="title"
             <% if (widget.has('title')) { %>
               value="<%= widget.escape('title') %>"
             <% } %>
             <% if (widget.get('hide_title')) { %>
               disabled
             <% } %>
             >
      <span class="input-group-addon">
        <% var icon = (widget.get('hide_title')) ? "fa-eye-slash" : "fa-eye" %> 
        <i id="iw_hide_title"
           class="fa <%= icon %> show-hide"
           type="checkbox"></i>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="input-group image-widget-date-container">
      <input type="date"
             class="form-control image-widget-date"
             id="iw_date"
             <% if (widget.has('date')) { %>
               value="<%= widget.escape('date') %>"
             <% } %>
             <% if (widget.get('hide_date')) { %>
               disabled
             <% } %>
      >
      <span class="input-group-addon">
        <% var icon = (widget.get('hide_date')) ? "fa-eye-slash" : "fa-eye" %> 
        <i id="iw_hide_date"
           class="fa <%= icon %> show-hide"
           type="checkbox"></i>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 widget-controls">
    <button class="btn btn-danger image-widget-remove" data-cid="<%= widget.cid %>"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete This Image</button>
  </div>
</div>
