<input type="file"
       name="article[sections_attributes][<%= s_ord %>]
                    [image_widgets_attributes][<%= w_ord %>][img]"><br>
<input type="text"
       name="article[sections_attributes][<%= s_ord %>]
                    [image_widgets_attributes][<%= w_ord %>][title]"
       placeholder="title"><br>

<input type="date"
       name="article[sections_attributes][<%= s_ord %>]
                    [image_widgets_attributes][<%= w_ord %>][date]">

<a href="#" class="image-widget-remove">remove image</a>
