<input type="text"
       name="article[sections_attributes][<%= s_ord %>]
                    [text_widgets_attributes][<%= w_ord %>][title]"
       placeholder="title"><br>
<label for="tw_show_title<%= w_ord %>">show title?</label>
<input type="checkbox"
       id="tw_show_title<%= w_ord %>"
       name="article[sections_attributes][<%= s_ord %>]
                    [text_widgets_attributes][<%= w_ord %>][show_title]"
       checked>

<label for="tw_show_body<%= w_ord %>">show body?</label>
<input type="checkbox"
       id="tw_show_body<%= w_ord %>"
       name="article[sections_attributes][<%= s_ord %>]
                    [text_widgets_attributes][<%= w_ord %>][show_body]"
       checked>
<input type="text"
       name="article[sections_attributes][<%= s_ord %>]
                    [text_widgets_attributes][<%= w_ord %>][body]"
<input type="text"
       name="article[sections_attributes][<%= s_ord %>]
                    [text_widgets_attributes][<%= w_ord %>][body]"
       placeholder="body"><br>

<a href="#" class="text-widget-remove">remove text</a>
