<% var ord = widget.get('ord') %>
<input type="text"
       placeholder="title"
       id="tw_title<%= ord %>"
       <% if (widget.get('title')) { %>
         value="<%= widget.escape('title') %>"
       <% } %>
       ><br>
<label for="tw_show_title<%= ord %>">show title?</label>
<input type="checkbox"
       id="tw_show_title<%= ord %>"
       <% if (widget.get('show_title')) { %>
         checked
       <% } %>
       ><br>

<textarea id="tw_body<%= ord %>"><% if (widget.get('body')) { %><%= widget.escape('body') %><% } %></textarea>

<label for="tw_show_body<%= ord %>">show body?</label>
<input type="checkbox"
       id="tw_show_body<%= ord %>"
       <% if (widget.get('show_body')) { %>
         checked
       <% } %>
       ><br>

<a href="#" class="text-widget-remove">remove text</a>
