<input type="text"
       name="article[sections_attributes][<%= idx %>][title]"
       placeholder="section title">
<label for="show_title<%= idx %>">show title?</label>
<input type="checkbox"
       id="show_title<%= idx %>"
       name="article[sections_attributes][<%= idx %>][show_title]">
<input type="hidden"
       name="article[sections_attributes][<%= idx %>][ord]"
       value="<%= idx %>">
